{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Vote{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="vote-form">
            <form action="{{ url_for('vote_post') }}" , method="POST">
                <ul>
                    {% for name, count in vr %}
                        <li>
                            <input type="radio" name="name" value="{{ name }}">
                            {{ name }} -- Currently {{ count }} Votes
                        </li>
                    {% endfor %}
                </ul>
                <div class="center"><input type="submit" value="Vote"/></div>
            </form>
        </div>
    </div>
{% endblock %}