{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Wall{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="center">
        <div class="wallform">
            <form action="{{ url_for('wall_post') }}" method="post">
                <div><textarea rows="3" cols="60" name="msg"></textarea></div>
                <div class="center"><input type="submit" value="POST"/></div>
            </form>
        </div>
    </div>
    <div class="messages">
        {# XSS HERE #}
        {% for (m,) in msg %}
            <div>{{ m | safe }}</div>
        {% endfor %}
    </div>
{% endblock %}s